@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0, 0%, 100%;
    --foreground: 240 10% 3.9%;

    --aside: 0, 0%, 100%;
    --aside-foreground: 240 10% 3.9%;

    --header: 0, 0%, 100%;
    --header-foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%; /* cinza mais escuro */
    --secondary-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --radius: 0.5rem;
    --font-size-xs: 0.8125rem;
    --font-size-sm: 0.875rem;
  }

  .dark {
    --background: 210, 11%, 10%;
    --foreground: 0 0 98%;

    --aside: 210, 11%, 10%;
    --aside-foreground: 0 0 98%;

    --header: 210, 11%, 10%;
    --header-foreground: 0 0 98%;

    --card: 210, 11%, 10%;
    --card-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%; /* cinza mais escuro */
    --secondary-foreground: 240 5% 64.9%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
